html, body{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Yeon Sung', cursive;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: bisque;
    height: 80px;
    margin: 0 auto;
}

.header_container {
    width: 100%;
    /* 페이지가 980보다 작을 경우 메뉴바 바뀌어야함 */
}

.header_container > h2 {
    width: 50%;
    float: left;
    padding-left: 50px;
}

.header_container > h2 > a {
    display: block;
    font-size: 30px;
    padding: 0px 30px 0px 30px;
}

.header_container > nav{
    float: right;
    width: 40%;
    padding-right: 50px;
}

.header_container > nav > ul > li {
    width: 25%;
    float: left;
    font-weight: bold;
    list-style: none;
    text-align: center;
    line-height: 60px;
}

.header_container > nav > ul > li > a{
    text-decoration-line: none;
    color: black;
}

.contact_contents > p > a{
    color: black;
}

#home {
    background-color: cornsilk;
    height: 600px;
}

.home_container{
    height: 100%;
    text-align: center;
    padding: 50px 0 0 0;
}

.home_container > h1 {
    margin: 0;
}

.home_container > img {
    height: 300px;
    width: auto;
    border-radius: 30%;
    margin: 40px;
}

.home_container > p {
    margin: 0;
}

.content_size{
    height: 800px;
}

.container{
    height: 100%;
    text-align: center;
    padding: 60px 0 0 0;
}

.profile_contents > img {
    height: 300px;
    width: auto;
    border-radius: 30%;
    margin: 15px;
}

.interest_contents > img {
    height: 300px;
    width: auto;
    margin: 15px;
}

.elice_ai_contents > img {
    width: 500px;
    height: auto;
    margin: 50px;
}

.contact_size {
    height: 500px;
}

@media (min-width: 0px) and (max-width: 980px) {
    header {
        height: 160px;
    }
    .header_container {
        width: 100%;
    }
    .header_container > h2 {
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
    .header_container > nav {
        width: 100%;
        padding-right: 0;
    }
    .header_container > nav > ul {
        padding: 0;
        margin: 0;
    }
}

.back-to-top-ptr {
    position: fixed;
    bottom: 20px;
    right: 30px;
}