body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Yeon Sung', cursive;
}

#header {
    background-color: bisque;
    height: 70px;
}

.header_container {
    width: 980px;
    /* 페이지가 980보다 작을 경우 메뉴바 바뀌어야함 */
    margin: auto;
}

.head_logo{
    float: left;
}

.menu{
    float: right;
}

.menu > nav > ul > li {
    float: left;
    padding: 8px 10px;
    font-weight: bold;
    list-style: none;
}

#home {
    background-color: cornsilk;
    height: 500px;
}

.home_container{
    height: 100%;
    text-align: center;
    padding: 50px 0 0 0;
}

.home_container > h1 {
    margin: 0;
}

.home_container > img {
    height: 300px;
    width: auto;
    border-radius: 30%;
    margin: 15px;
}

.home_container > p {
    margin: 0;
}

.content_size{
    height: 700px;
}

.container{
    height: 100%;
    text-align: center;
    padding: 60px 0 0 0;
}

.profile_contents > img {
    height: 300px;
    width: auto;
    border-radius: 30%;
    margin: 15px;
}

.interest_contents > img {
    height: 300px;
    width: auto;
    margin: 15px;
}

.elice_ai_contents > img {
    width: 500px;
    height: auto;
    margin: 50px;
}

.contact_size {
    height: 300px;
}